*

!.editorconfig
!.gitignore
!.gitattributes

!bindings/

!bindings/c/
!*.c
!*.cc
!*.h
!*.in
!*.txt
!Makefile

!bindings/go/
!*.go
!go.mod

!bindings/node/
!*.js
!*.ts
!*.gyp
!*.json

!bindings/python/
!bindings/python/tests/
!bindings/python/tree_sitter_cab/
!*.py
!*.pyi
!py.typed

!bindings/rust/
!*.rs
!*.toml

!bindings/swift/
!bindings/swift/TreeSitterCab/
!bindings/swift/TreeSitterCabTests/
!*.swift

!src/
!src/tree_sitter/

!queries/
!*.scm

!test/
!test/corpus/
